body {
    table {
        border: 5px solid gray;
        width: 250px;
        margin: 20px;
        border-spacing: 5px;

        background-color: #e1e1e1;

        text-align: center;
    }

    td {
        border: 2px solid gray;
        background-color: #b0b0b0;

    }

    .greenhighlight {
        background-color: #7ede7e;
    }

    .topbar {
        background-color: #ffaa3a;

        margin: auto;
        width: 1250px;
    }

    .mainbody {
        border: 4px solid black;
        /*width: 700px; */
        padding: 10px;
        margin: 20px;
        text-align: center;

        background-color: #e1e1e1;
    }

    .mainbody2 {
        border: 4px solid black;
        /*width: 700px; */
        padding: 10px;
        text-align: center;

        background-color: #e1e1e1;
        margin: 5% 5% 5% 25%;
    }


    .floatleft {
        float: left;
    }

    .floatright {
        float: right;
    }

    .clearfloat {
        clear: both;
    }
}